* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

body {
  background-color: #8a51fc;
}

.logo {
  width: 150px;
  margin: 18px auto;
  display: block;
}

main {
  background-color: #ccc;
  width: 375px;
  border-radius: 10px;
  margin: 0 auto 10px;
  padding: 38px 24px 33px;
  height: 700px;
}

label {
  font-size: 15px;
  font-weight: 500;
  color: #777;
}

label p {
  margin-bottom: 10px;
}

select,
input {
  width: 100%;
  height: 48px;
  border-radius: 5px;
  appearance: none;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  border: none;
  color: #555;
  cursor: pointer;
}

button {
  width: 100%;
  height: 48px;
  background-color: #772fd3;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin: 15px 0 17px;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.6;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  padding: 15px 0;
  border-radius: 5px;
  border: 2px solid #8a51fc;
}

.contain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current {
  font-size: 1rem;
  color: #777;
}

.current-value,
.current-value-to-convert {
  font-size: 1.3rem;
}

@media screen and (max-width: 450px) {
  main {
    width: 80%;
  }

  .logo {
    width: 100px;
  }
}

@media screen and (max-width: 376px) {
  main {
    width: 80%;
    height: 100%;
    margin: 10px auto;
    padding: 12px 24px 17px;
  }

  section {
    padding: 3px 0;
  }

  .logo {
    display: none;
  }

  .logo {
    width: 75px;
    /* margin-bottom: 60px; */
  }
}
